<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://cdn.pixabay.com/photo/2021/10/22/11/43/popcorn-6732424_1280.png);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>


<h3>My Lists</h3>

<% @lists.each do |list| %>
<%= link_to list_path(list), class:"text-decoration-none" do %>
<%= list.name %>
<% end %>
<% end %>

<%= link_to 'Create a movie list', new_list_path, class: "btn btn-primary" %>
