// Define variables for your color scheme

// For example:
$text: #C9BAB8;
$accent: #CAB479;
$navbar: #58153F;
$red:#9F222E;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
