// Define variables for your color scheme

// For example:
$text: #403028;
$popcorn: #E2CA88;
$accent: #CAB479;
$navbar: #E3D0CF;
$body: #58153F;
$red:#9F222E;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
