.movie-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
  display: flex;
}

.movie-comment {
  width: 90%;
  position: absolute;
  padding-top: 5%;
  bottom: 0;
}
