.navbar-lewagon {
  justify-content: space-between;
  background: $navbar;
}

.body {
  background: black;
}

.nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 20px;
}

.logo {
  width: 40px;
  height: 40px;
}
